<!DOCTYPE html>
<html>
    <head>
        <title>Tic tac toe</title>
    </head>
    <body>
	<div class="row">
	    <img class="field" id="f11"/>
	    <img class="field" id="f12"/>
	    <img class="field" id="f13"/>
	</div>
	<div class="row">
	    <img class="field" id="f21"/>
	    <img class="field" id="f22"/>
	    <img class="field" id="f23"/>
	</div>
	<div class="row">
	    <img class="field" id="f31"/>
	    <img class="field" id="f32"/>
	    <img class="field" id="f33"/>
	</div>
	<a href="{% url 'tictactoe' %}">New Game</a>
    </body>
</html>
